{% macro nav(id, class, links, i18n) %}
<nav id="{{ id }}" class="{{ class }}">
    <div class="blur"></div>
    <div class="content">
        <ul>
            {% set current = app.request.attributes.get('_route') %}
            {% for link, name in links if current != link %}
                <li><a href="{{ link }}">{{ i18n[name] | default(name) }}</a></li>
            {% endfor %}
        </ul>
    </div>
</nav>
{% endmacro %}