:root {
  --main-menu-height: 35px;
  --main-menu-width: 100%;
  --blur-value: 4px;
}

* {
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

a,a:active,a:visited {
  text-decoration: none;
  color: inherit;
}

body {
  background-image: var(--background-image);
  background-size: cover;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

body > .content {
  display: grid;
  grid-template-rows: var(--header-height) var(--main-menu-height) auto var(--footer-height);
}

.main-menu {
  display: flex;
  justify-content: center;
  position: relative;
  height: var(--main-menu-height);
  width: var(--main-menu-width);
}

.main-menu > .content > ul {
  display: flex;
  width: var(--main-menu-width);
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 2;
  background: rgba(0,0,0,0.5);
}

.main-menu > .content > ul > li {
  width: 120px;
  text-align: center;
  line-height: var(--main-menu-height);
  list-style-type: none;
}

.main-menu > .content > ul > li > a {
  display: block;
  height: 100%;
  width: 100%;
}

.main-menu > .content > ul > li > a:hover {
  color: white;
}

body > .content * > .blur {
  height: calc(100% + 4 * var(--blur-value));
  top: calc(var(--blur-value) - 2 * var(--blur-value));
  left: 0;
  width: 100%;
  position: absolute;
  z-index: 0;
  background: var(--background-image);
  background-size: cover;
  filter: blur(var(--blur-value));
}

body > .content * > .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

header {
  position: relative;
  height: var(--header-height);
  width: var(--header-width);
}

header .header-left-decor {
  display: block;
  width: 60%;
  height: 100%;
  background: red;
  opacity: 0.7;
  content: " ";
}